<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient Information</title>
    <link rel="stylesheet" href="/css/update_info.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <input type="text" value="{{status}}" hidden id="errbox">
    <div class="container">
        <form action="/admin/updated/info" method="post">
            <h2>Update Personal Information</h2>
            <div class="content">
                <div class="input-box">
                    <label for="id">Patient username</label>
                    <input type="text" placeholder="Enter username where info to be updated" name="id" required>
                </div>
                {{!-- <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter updated name" name="Name" required>
                </div> --}}
                <div class="input-box">
                    <label for="disease">Disease</label>
                    <input type="text" placeholder="Enter updated disease" name="Disease" required>
                </div>
                <div class="input-box">
                    <label for="doctor">Doctor</label>
                    <input type="text" placeholder="Enter updated doctor" name="doctor" required>
                </div>
                {{!-- <div class="input-box">
                    <label for="age">Age</label>
                    <input type="number" placeholder="Enter updated age" name="age" required>
                </div> --}}
                <div class="button-container">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    const errbox = document.querySelector('#errbox').value;
      if (errbox == "User information updated!!") {
        Swal.fire({
          title: 'Notification',
          text: errbox,
          icon: "success"
        })
      }
      else if (errbox == "User info can not be updated!!") {
        Swal.fire({
          title: 'Notification',
          text: errbox,
          icon: "warning"
        })
      }
</script>
</html>