<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient Information</title>
    <link rel="stylesheet" href="/static/css/update_info.css">
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <h2>Update Personal Information</h2>
            <div class="content">
                <div class="input-box">
                    <label for="id">Patient ID</label>
                    <input type="number" placeholder="Enter updated id" name="id" required>
                </div>
                <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter updated name" name="Name" required>
                </div>
                <div class="input-box">
                    <label for="disease">Disease</label>
                    <input type="text" placeholder="Enter updated disease" name="Disease" required>
                </div>
                <div class="input-box">
                    <label for="doctor">Doctor</label>
                    <input type="text" placeholder="Enter updated doctor" name="doctor" required>
                </div>
                <div class="input-box">
                    <label for="age">Age</label>
                    <input type="number" placeholder="Enter updated age" name="age" required>
                </div>
                <div class="button-container">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>