<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/update.css">

    <title>Admin Panel</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">PulseCare</span>
        </a>
        <ul class="side-menu top">
            <li >
                <a href="/admin/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/patients">
                    <i class='fa fa-medkit'></i>
                    <span class="text">Patient List</span>
                </a>
            </li>
            <li class="active">
                <a href="/admin/dashboard/update/patient">
                    <i class='fa fa-plus-square'></i>
                    <span class="text">Update Patients</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/doctor">
                    <i class='fa fa-user-md'></i>
                    <span class="text">Add Doctor</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/appointment">
                    <i class='fa fa-heartbeat'></i>
                    <span class="text">Add Appointment</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
           
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            
            <form action="#">
                
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                <img src="img/people.png">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
                
            </div>

            <ul class="box-info">
                <li>
                    <button class="btn" id="update-health">Health Factors</button>
                </li>
                <li>
                  <a href="/admin/dashboard/update/info"<button class="btn" id="update-info">Update Information</button>></a>  
                </li>
                <li>
                    <button class="btn" id="update-report">Add Reports</button>
                </li>
                <li>
                    <button class="btn" id="update-appointment">Add Appointments</button>
                </li>
            </ul>


            
            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="/js/index.js"></script>
</body>

</html>