<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Health Factors</title>
    <link rel="stylesheet" href="/static/css/update_info.css">
</head>

<body>
    <div class="container">
        <form action="" method="post">
            <h2>Update Health Information</h2>
            <div class="content">
                <div class="input-box">
                    <label for="id">Patient ID</label>
                    <input type="number" placeholder="Enter updated id" name="id" required>
                </div>
                <div class="input-box">
                    <label for="temperature">Temperature</label>
                    <input type="number" placeholder="Enter updated temperature" name="temperature" required>
                </div>
                <div class="input-box">
                    <label for="heart-rate">Heart Rate</label>
                    <input type="number" placeholder="Enter updated heart rate" name="heartRate" required>
                </div>
                <div class="input-box">
                    <label for="blood">Blood Group</label>
                    <input type="text" placeholder="Enter updated blood group" name="blood" required>
                </div>
                <div class="input-box">
                    <label for="systole">Systole BP</label>
                    <input type="number" placeholder="Enter updated systole BP" name="systole" required>
                </div>
                <div class="input-box">
                    <label for="diastole">Diastole BP</label>
                    <input type="number" placeholder="Enter diastole BP" name="diastole" required>
                </div>
                <div class="input-box">
                    <label for="spo">SpO2</label>
                    <input type="number" placeholder="Enter updated SpO2" name="spo" required>
                </div>
                <div class="input-box">
                    <label for="respiration">Respiration Rate</label>
                    <input type="number" placeholder="Enter updated respiration rate" name="respiration" required>
                </div>
                <div class="input-box">
                    <label for="bmi">BMI</label>
                    <input type="number" placeholder="Enter updated BMI" name="bmi" required>
                </div>
                <div class="input-box">
                    <label for="fio">FiO2</label>
                    <input type="number" placeholder="Enter updated FiO2" name="fio" required>
                </div>
                
                <div class="button-container">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>