<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Dashboard</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">PulseCare</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="/user/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="/user/dashboard/diagnosis">
                    <i class='fa fa-heartbeat'></i>
                    <span class="text">Diagnosis </span>
                </a>
            </li>
            <li>
                <a href="/user/dashboard/request">
                    <i class='fa fa-medkit'></i>
                    <span class="text">Make Appointments</span>
                </a>
            </li>
            <li>
                <a href="/user/dashboard/treatment">
                    <i class='fa fa-plus-square'></i>
                    <span class="text">Treatment</span>
                </a>
            </li>
            <li>
                <a href="/user/dashboard/appointment">
                    <i class='fa fa-user-md'></i>
                    <span class="text">Apppointment</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">

            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>

            <form action="#">

            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                {{user}}
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>

            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-thermometer'></i>
                    <span class="text">
                        <p>Temperature</p>
                        <h3>98 </h3>
                        <p class="small-text">in Farenheight</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-alarm-add'></i>
                    <span class="text">
                        <p>Heart Rate</p>
                        <h3>78</h3>
                        <p class="small-text">safe [60-100 beats]</p>
                    </span>
                </li>
                <li>
                    
                    <i class='bx bxs-heart-circle' ></i>
                    <span class="text">
                        <p>Blood Group</p>
                        <h3>O-</h3>
                    </span>
                </li>
                <li>
                    <i class='bx bx-donate-heart' ></i>
                    <span class="text">
                        <p>Systole BP</p>
                        <h3>78</h3>
                        <p class="small-text">Safe [90-120 mm Hg]</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-donate-heart' ></i>
                    <span class="text">
                        <p>Diastole BP</p>
                        <h3>74</h3>
                        <p class="small-text">Safe [60-80 mm Hg]</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-wind' ></i>
                    <span class="text">
                        <p>SpO2</p>
                        <h3>95</h3>
                        <p class="small-text">Range [95% or higher]</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-body' ></i>
                    <span class="text">
                        <p>Respiration Rate</p>
                        <h3>20</h3>
                        <p class="small-text">Safe [12 to 16 breaths/min]</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-dumbbell'></i>
                    <span class="text">
                        <p>BMI</p>
                        <h3>24.7</h3>
                        <p class="small-text">Range [18.5 to 24.9]</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-virus-block'></i>
                    <span class="text">
                        <p>FiO2</p>
                        <h3>78</h3>
                        <p class="small-text">Range [50 to 100]</p>
                    </span>
                </li>
            </ul>




            <script src="/js/index.js"></script>
</body>

</html>